/* appoint */
.prod_content {
    margin-top: 20px;
    padding: 20px;
    background: #ffedff;
}

.prod_list .row {
    margin: 0;
    background: #AFE1EA;
}

.prod_list .row > div {
    padding: 10px;
}

.prod_item {
    background: #fff;
    height: 300px;
    border: 2px solid #fff;
}

.prod_item img {
    width: 100%;
}

.prod_item a:hover {
    text-decoration: blink;
}
.prod_item a:hover {
    text-decoration: none;
}