/* appoint */
.prod_content {
    margin-top: 20px;
    padding: 20px;
    background: #ffedff;
}

.prod_list .row {
    margin: 0;
    background: #AFE1EA;
}

.prod_list .row > div {
    padding: 10px;
}

.prod_list a:hover {
    text-decoration: none;
}

.prod_item {
    background: #fff;
    height: 280px;
    border: 2px solid #fff;
    padding: 10px;
}

.prod_item img {
    width: 100%;
    height: 149px;
}

.prod_item h2 {
    font-size: 16px;
    color: #333333;
    margin-top: 10px;
    margin-left: 8px;
    font-weight: bold;
}

.prod_item p {
    font-size: 14px;
    color: #777;
    margin: 10px 8px 0 8px;
    height: 38px;
    overflow: hidden;
}

.prod_item b {
    font-size: 16px;
    color: #5ac3e7;
    margin: 9px 8px 0 8px;
    float: left;
}

.prod_item input {
    background: #5ac3e7;
    width: 66px;
    height: 21px;
    line-height: 21px;
    border: none;
    color: #fff;
    font-size: 12px;
    float: right;
    margin-top: 10px;
    display: none;
    cursor: pointer;
}