/* card */
.content {
    background: url(/image/cardbackgroud.jpg) no-repeat center;
    height: 600px;
}

.card_title {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    padding: 130px 0;
}

.card_title span {
    font-size: 30px;
}

.card_list {
    margin: 0 auto;
    width: 924px;
    background: rgba(255, 255, 255, 0.5);
}

.card_intro span {
    float: left;
    text-align: center;
    width: 100%;
    font-size: 14px;
}

.card_intro .join_card {
    margin-top: 30px;
    margin-left: 100px;
    text-align: center;
    width: 80px;
    padding: 5px;
    color: white;
    background-color: #3BC173;
    cursor: hand;
    cursor: pointer;
}

.membership .phone {
    text-align: center;
    margin: 60px 0;
}

.membership .phone span {
    color: #18A252;
    font-size: 28px;
    height: 40px;
    display: inline-block;
    margin-top: 10px;
    line-height: 40px
}